.pulse {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: inherit;
    background: inherit;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: pulserDot 10s linear infinite;
  }

  &.tick {
    &:after {
      -webkit-animation: pulserDotFast 2s linear infinite;
    }

    &.tick--done:after {
      display: none;
    }
  }

}

@-webkit-keyframes pulserDot {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.3);
    opacity: 0.8;
  }
  90% {
    -webkit-transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0;
  }
}

@-webkit-keyframes pulserDotFast {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.4);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(3.2);
    opacity: 0;
  }
}
