.pulse {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: inherit;
    background: inherit;
    border-radius: 50%;
    z-index: -1;
    animation: pulserDot 10s linear infinite;
  }

  &.tick {
    &:after {
      animation: pulserDotFast 2s linear infinite;
    }

    &.tick--done:after {
      display: none;
    }
  }
}

@keyframes pulserDot {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  80% {
    transform: scale(1);
    opacity: 0;
  }
  85% {
    transform: scale(1.3);
    opacity: 0.8;
  }
  90% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes pulserDotFast {
  0% {
   transform: scale(1);
    opacity: 0;
  }
  70% {
    transform: scale(1.8);
    opacity: 0.6;
  }
  100% {
    transform: scale(3.8);
    opacity: 0;
  }
}
