.avatar {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 4px solid $color-white;
  background: url(image_path('steven.jpg')) no-repeat;
  background-size: 100% auto;
  position: relative;
}

.avatar--legend {
  background: none;
  border-width: 0px;
  width: 10px;
  height: 10px;
}

.avatar--philo {
  background-image: url(image_path('philo.jpg'));
}

.avatar--benh {
  background-image: url(image_path('benh.jpg'));
}

.avatar--clarev {
  background-image: url(image_path('clarev.jpg'));
}

.avatar--mercers {
  background-image: url(image_path('mercers.jpg'));
}

.avatar--neals {
  background-image: url(image_path('neals.jpg'));
}

.avatar--automation {
  background-color: $color-automation;
  border-color: $color-automation;
}

.avatar--emailbuilder {
  background-color: $color-emailbuilder;
  border-color: $color-emailbuilder;
}

.avatar--contacts {
  background-color: $color-contacts;
  border-color: $color-contacts;
}

.avatar--growth {
  background-color: $color-growth;
  border-color: $color-growth;
}
