*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-default;
  color: $color-grey-blue;
  background-color: $color-dark-blue;
  zoom: 1;
}

.main {
  width: 95%;
  max-width: 1720px;
  margin: 100px auto;
}



.color--automation {
  border-color: $color-automation !important;
  color: $color-automation !important;
}

.color--email-builder {
  border-color: $color-emailbuilder !important;
  color: $color-emailbuilder !important;
}

.color--contacts {
  border-color: $color-contacts !important;
  color: $color-contacts !important;
}

.color--growth {
  border-color: $color-growth !important;
  color: $color-growth !important;
}

.color--integrations {
  border-color: $color-integration !important;
  color: $color-integration !important;
}
