.heading {
  font-family: $font-heading;
  text-transform: uppercase;
}

.heading--primary {
  font-size: 154px;
  color: $color-white;
}

.heading--secondary {
  font-size: 94px;
  color: $color-white;
}

.heading--tertiary {
  font-size: 44px;
  color: $color-grey-blue;
}

.heading--mb-large {
  margin-bottom: 0.5em;
}