.legend {
  width: 248px
}

.legend__item {
  color: $color-white;
  font-size: 13px;
  width: 124px;
  float: left;
  margin-bottom: 0.8em;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  .avatar {
    margin-right: 10px;
  }
}
