.list {
  clear: both;
}

.list__item {
  font-size: 13px;
  margin: 0 0 0.5em;
  color: $color-white;
  top: -4px;
  position: relative;

  .tick {
    position: relative;
    float: right;
    top: 5px;
  }

  .list__item__desc {
    max-width: 250px;
  }
}

.list__item--large {
  font-size: 24px;
  color: $color-grey-blue;
  top: -8px;
  margin: 0.75em 0;

  .avatar {
    position: relative;
    top: 9px;
    margin-right: 36px;
  }

  .tick {
    top: 17px;
  }

  .list__item__desc {
    max-width: 660px;
    top: 3px;
  }
}

.list__item--done {
  color: $color-white;
}

.list__item__desc {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}
