.list {
  clear: both;
  width: 100%;
}

.list__item {
  font-size: 28px;
  margin: 0.75em 0;

  a {
    color: $color-grey-blue;
    text-decoration: none;
    outline: none;
  }
}

.list__item--done {
  color: $color-white;

  a {
    color: $color-white;
  }
}

  .list__item__avatars {
    margin-right: 12px;
    float: left;
  }

  .list__item__desc {
    max-width: 660px;
  }

    .list__item__desc__label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      display: block;
      position: relative;
      top: 2px;
    }


    .list__item__desc__name {
      display: block;
      position: relative;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.5;
      top: -2px;
    }

  .list__item__tick {
    float: right;
  }
