doctype html
html lang="en"
  head
    meta charset="utf-8"
    title Campaign Monitor Product Release Dashboard
    = stylesheet_link_tag "main"

  body
    main class="main"
      header class="header"
        div class="deadline"
          h2 class="heading heading--secondary" id="countdown" data-end-date=(data.current_release.end)
          h3 class="heading heading--tertiary" id="endDate" data-end-date=(data.current_release.end)
        h1 class="heading heading--primary heading--mb-large"
          = data.current_release.name

      section
        ul class="list"
          - data.current_release.features.each do |feature|
            li class=("list__item list__item--large #{item_status feature.status, 'in progress'}")
              span class="list__item__avatars"
                span class=("avatar color--#{feature.team} avatar--#{feature.pm}")
                span class=("avatar color--#{feature.team} avatar--#{feature.marketing}")

              span class="list__item__desc"
                span class=("list__item__desc__label color--#{feature.team}")
                  = feature.label

                span class="list__item__desc__name"
                  = link_to feature.name, feature.url

              span class="list__item__tick"
                span class=("tick tick--large #{tick_status(feature.status, 'in progress')}")


    = javascript_include_tag "jquery-2.1.3.min.js"
    = javascript_include_tag "animate.min.js"
    = javascript_include_tag "main"
